
.sidebar {
    position: fixed;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
    margin: 0;
    margin-top: 70px;
    padding: 0;
    width: 200px;
    height: -webkit-fill-available;
    background-color: #f1f1f1;
    overflow: auto;
    border-right: solid 1px lightgray;
    z-index: 2;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebar div.company{
    padding: 25px;
    display: block;
    text-align: center;
    width: 96px;
}

.sidebar div.company img{
    width: 100%;
    margin-left: 30px;
    display: block;
}

.sidebar div.sesion{
    width: 100%;
    position: absolute;
    bottom: 0px;
}

.sidebar div.profile p{
    text-align: center;
}

.sidebar .active {
    background-color: #555;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
}

@media screen and (max-width: 700px) {
    .sidebar {
        top: 0px;
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    .sidebar {
        top: 20px;
    }
    .sidebar a {
        display: none;
    }
}